.modal-container {
  @apply box-border absolute bg-white rounded-[10px] w-full h-[410px] left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 overflow-y-auto;
  
  
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.dialog-header {
  @apply box-border left-0 top-px border-b border-[#E5E7EB] w-full;
}

.header-content {
  @apply flex flex-row justify-between items-center w-full p-3;
  
}

.header-left {
  @apply flex flex-row items-center gap-2 ;
}

.icon-container {
  @apply flex flex-row justify-center items-center w-10 h-10 bg-[#EAF3FF] rounded-[10px];
}

.modal-title {
  @apply h-[18px] font-semibold text-[18px] leading-[18px] text-[#06064D] m-0;
}

.close-button {
  @apply flex flex-col items-start w-5 h-5 bg-transparent border-0 cursor-pointer p-0;
}

.content-frame {
  @apply flex flex-col items-start gap-6 p-4;
  
  height: 294px;
  left: 25px;
  top: 81px;
}

.offer-details-container {
  @apply box-border flex flex-col items-start p-4 gap-2;
  background: linear-gradient(270deg, #FFFFFF 3.62%, #EAF6FF 100%);
  border: 1px solid #DEEBFF;
  border-radius: 10px;
}

.offer-details-label {
  @apply font-medium text-[14px] leading-5 tracking-[-0.150391px] text-[#7990A4];
}

.offer-details-text {
  @apply  font-normal text-[14px] leading-[23px] text-[#373B62] m-0;
}

.conditions-container {
  @apply flex flex-col items-start gap-2;
}

.condition-item {
  @apply flex flex-row items-start gap-3;
}

.condition-item:nth-child(1) {
 
  order: 0;
}

.condition-item:nth-child(2) {
 
  order: 1;
}

.condition-item:nth-child(3) {
 
  order: 2;
}

.condition-item:nth-child(4) {
 
  order: 3;
}

.condition-item:nth-child(5) {
 
  order: 4;
}

.condition-text {
  @apply font-normal text-[14px] leading-5 tracking-[-0.150391px] text-[#0E2D57];
}

.got-it-button {
  @apply flex flex-row justify-center items-center px-8 py-2 gap-2 absolute;
  visibility: hidden;
  width: 150px;
  height: 36px;
  left: 337px;
  top: 407px;
  @apply bg-[#6964E2] rounded-[8px] border-0 cursor-pointer;
}

.got-it-button span {
  @apply w-8 h-5 font-medium text-[14px] leading-5 tracking-[-0.150391px] text-white;
}
