
@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('SFProDisplay-Regular.woff2') format('woff2'),
      url('SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
@font-face {
  font-family: 'SFProDisplay-Medium';
  src: url('SFProDisplay-Medium.woff2') format('woff2'),
    url('SFProDisplay-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url('SFProDisplay-Bold.woff2') format('woff2'),
    url('SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}